@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,*::before,*::after {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* outline: 1px solid black; */
}

body {
    margin: 0;
}


.AppBar {
    margin: 0 0 4rem 0;
}

.nameInput {
    color: white !important;
}